IMPORT LIBRARY

In [ ]:
import numpy as np
import pandas as pd

### DATASET

In [ ]:
df = pd.read_excel('data.xlsx') #read data
df #munculkan data

   Outlook Temperatur Humidity  Windy Play
0    Sunny        Hot     High  False   NO
1    Sunny        Hot     High   True   NO
2   Cloudy        Hot     High  False  YES
3    Rainy       Mild     High  False  YES
4    Rainy       Cool   Normal  False  YES
5    Rainy       Cool   Normal   True  YES
6   Cloudy       Cool   Normal   True  YES
7    Sunny       Mild     High  False   NO
8    Sunny       Cool   Normal  False  YES
9    Rainy       Mild   Normal  False  YES
10   Sunny       Mild   Normal   True  YES
11  Cloudy       Mild     High   True  YES
12  Cloudy        Hot   Normal  False  YES
13   Rainy       Mild     High   True   NO

### ENCODE DATA

In [ ]:
# Import LabelEncoder
from sklearn import preprocessing
#creating labelEncoder
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
out =le.fit_transform(df['Outlook'])
temp =le.fit_transform(df['Temperatur'])
hum =le.fit_transform(df['Humidity'])
win =le.fit_transform(df['Windy'])
ply =le.fit_transform(df['Play'])

df['Outlook'] = out
df['Temperatur'] = temp
df['Humidity'] = hum
df['Windy'] = win
df['Play'] = ply

df

    Outlook  Temperatur  Humidity  Windy  Play
0         2           1         0      0     0
1         2           1         0      1     0
2         0           1         0      0     1
3         1           2         0      0     1
4         1           0         1      0     1
5         1           0         1      1     1
6         0           0         1      1     1
7         2           2         0      0     0
8         2           0         1      0     1
9         1           2         1      0     1
10        2           2         1      1     1
11        0           2         0      1     1
12        0           1         1      0     1
13        1           2         0      1     0

### GROUP THE DATA TO FEATURE AND LABEL

In [ ]:
#overall sebagai label
features = df.drop(columns=['Play']).values 
label =  df.Play

### IMPLEMENTED THE DATA TO NAIVE BAYES ALGORITHM

In [ ]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(features,label)

#Predict Output
predicted= model.predict([[0,0,0,0]]) # Cloudy, Cool, High, False
print("Predicted Value:", predicted)

Predicted Value: [1]